Importing the scikit-learn library

In [4]:
import sklearn

To check the version

In [5]:
sklearn.__version__

'0.24.1'

Reading the dataset and check the null values

In [15]:
import os
cwd = os.getcwd()
print(cwd)

C:\Users\pc

In [12]:
import pandas as pd

In [16]:
data=pd.read_csv('big_mart_sales.csv')
data.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

To determine the count of empty rows in each column

In [18]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Here we observe: -
Item_Weight has 1463 empty cells
Outlet_Size has 2410 emppty cells
Thus, we need to impute the missing values in the two columns.

Import the SimpleImputer

In [23]:
from sklearn.impute import SimpleImputer

Creating the object of the imputer for Item_Weight
For numerical column, we used strategy as Mean.
For categorical column, we used strategy as Most_frequent

In [25]:
impute_weight=SimpleImputer(strategy='mean')

Creating the object of the imputer for Outlet_Size

In [26]:
impute_size=SimpleImputer(strategy='most_frequent')

Fit the Item_Weight imputer with the data and transform

In [29]:
impute_weight.fit(data[['Item_Weight']])
data.Item_Weight=impute_weight.transform(data[['Item_Weight']])

Fit the Outlet_Size imputer with the data and transform

In [31]:
impute_size.fit(data[['Outlet_Size']])
data.Outlet_Size=impute_size.transform(data[['Outlet_Size']])

Again checking for null values to determine if Impute worked

In [32]:
data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64